
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 20px;
}

/* La tarjeta blanca */
.login-card {
  background: var(--login-card-color);
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px var(--login-card-shadow);
  width: 100%;
  max-width: 400px;
}

header {
  text-align: center;
  margin-bottom: 2rem;

  h1 { font-size: 1.5rem; font-weight: 700; color: var(--primary-color); margin: 0; }
  p { color: var(--text-color); font-size: 0.9rem; margin-top: 0.5rem; }
  span { color: var(--primary-color);}
}

/* Inputs */
.inputs {
  margin-bottom: 1.25rem;

  label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    font-size: 0.95rem;
    outline: none;
    transition: all 0.2s;
    box-sizing: border-box;

    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 3px var(--login-focus-shadow);
    }
  }
}

/* Botón negro minimalista */
button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover { background-color: var(--login-button-hover); }
  &:disabled { background-color: var(--disabled-button-color); cursor: not-allowed; }
}

.error-banner {
  background-color: var(--error-color);
  color: var(--text-color);
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
}