
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
:root { 
    // Primary colors
    --primary-color: #ebdd22; 
    --secondary-color: #8600fb;
    --background-color: #242933; 
    --error-color: #991b1b;
    --text-color: #ebe3e3;
    
    // Login & Register
    --auth-card-color: #1f1f25;
    --auth-card-shadow: rgba(0, 0, 0, 0.05);
    --auth-input-border: #d8a006;
    --auth-focus-shadow: #c39004;
    --auth-button-hover: #492568;
    --auth-secondary-text: #9ca3af;
    --auth-bg-color: #3b3b48;

    // Cards
    --task-card-bg: #5a5a5e;
    --task-card-hover: #636369;
} 

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    // Fuente nitida
    -webkit-font-smoothing: antialiased; 
}