:root { 
    // Primary colors
    --primary-color: #ebdd22; 
    --secondary-color: #8600fb;
    --background-color: #242933; 
    --error-color: #991b1b;
    --text-color: #ebe3e3;
    
    // Login & Register
    --auth-card-color: #1f1f25;
    --auth-card-shadow: rgba(0, 0, 0, 0.05);
    --auth-input-border: #d8a006;
    --auth-focus-shadow: #c39004;
    --auth-button-hover: #492568;
    --auth-secondary-text: #9ca3af;
    --auth-bg-color: #3b3b48;
} 

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    // Fuente nitida
    -webkit-font-smoothing: antialiased; 
}