:root { 
    // Primary colors
    --primary-color: #ebdd22; 
    --secondary-color: #4d2670;
    --background-color: #242933; 
    --error-color: #991b1b;
    --text-color: #ebe3e3;
    
    // Login 
    --login-card-color: #4e4e50;
    --login-card-shadow: rgba(0, 0, 0, 0.05);
    --login-focus-shadow: rgba(220, 207, 20, 0.838);
    --login-button-hover: #492568;
    --disabled-button-color: #3a1f4d;
} 

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    // Fuente nitida
    -webkit-font-smoothing: antialiased; 
}