/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #111827;
    --bg-color: #ffffff;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    /* Fuente nitida */
    -webkit-font-smoothing: antialiased; 
}